.guide-page {
  background: radial-gradient(circle at 10% 30%, #b3d1ff, #e6ecfa, #fff);
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-page.dark {
  background: radial-gradient(
    circle at 10% 30%,
    rgba(28, 52, 125, 0.9),
    #121e63,
    rgba(28, 52, 125, 1)
  );
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 70px 0 20px;
}

.header-title.dark {
  color: #fff;
}

.header-image {
  height: 300px;
  margin: -40px 0 -20px;
}

.guides-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
}

.guide-card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-width: 35vw;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
}

.guide-card.dark {
  background: rgba(33, 57, 130, 0.9);
}

.card-header {
  display: flex;
  align-items: center;
}

.icon-container {
  background: linear-gradient(90deg, #5e8fff 0%, #4368e2 100%);
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0 0 12px 16px;
  color: #010101;
}

.card-title.dark {
  color: #fff;
}

.card-description {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 20px;
}

.card-description.dark {
  color: #fff;
}

.steps-container {
  flex: 1;
  margin-bottom: 24px;
}

.step-title {
  color: rgba(0, 0, 0, 0.9);
}

.step-title.dark {
  color: #fff;
}

.step-description {
  color: #666;
}

.step-description.dark {
  color: #c9c7c7;
}

.info-box {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 12px;
  margin-top: 16px;
  font-size: 0.8rem;
}

.info-box.dark {
  background: rgba(28, 52, 125, 0.9);
}

.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.info-header-text {
  color: #1b1b1b;
}

.info-header-text.dark {
  color: #fff;
}

.info-icon {
  color: #1890ff;
  margin-right: 6px;
  font-size: 14px;
}

.info-text {
  font-size: 0.75rem;
}

.info-text.dark {
  color: #fff;
}

@media (max-width: 766px) {
  .header-container {
    flex-direction: column;
  }
  .header-image {
    height: 200px;
    margin-top: 0;
  }
  .guides-container {
    flex-direction: column;
    align-items: center;
  }
  .guide-card {
    width: 100%;
    max-width: 400px;
    height: 590px;
    margin-bottom: 24px;
  }
}
