.custom-password-input.ant-input-affix-wrapper {
  background: #e6ecfa !important;
  color: #1a237e !important;
  border-radius: 12px !important;
  border: 1px solid #5271c3 !important;
  font-size: 16px;
  font-weight: 400 !important;
  box-shadow: none !important;
  transition:
    background 0.25s,
    color 0.25s,
    border-color 0.25s;
}

.custom-password-input.ant-input-affix-wrapper-focused,
.custom-password-input.ant-input-affix-wrapper:focus,
.custom-password-input.ant-input-affix-wrapper:active {
  border-color: #92c4ff !important;
  background: #e6ecfa !important;
  box-shadow: none !important;
}

.custom-password-input.ant-input-affix-wrapper:hover {
  background: #fff !important;
}

.custom-password-input input.ant-input {
  background: transparent !important;
  color: #1a237e !important;
  font-size: 16px;
  font-weight: 400 !important;
  border: none !important;
  box-shadow: none !important;
}

.custom-password-input input.ant-input::placeholder {
  color: #7f97c9 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.custom-password-input .ant-input-password-icon {
  color: #5271c3 !important;
}

.dark .custom-password-input.ant-input-affix-wrapper {
  background: #283868 !important;
  color: #fff !important;
  border-radius: 12px !important;
  border-color: #5271c3 !important;
}

.dark .custom-password-input.ant-input-affix-wrapper-focused,
.dark .custom-password-input.ant-input-affix-wrapper:focus,
.dark .custom-password-input.ant-input-affix-wrapper:active {
  border-color: #92c4ff !important;
  background: #324b7b !important;
  box-shadow: none !important;
}

.dark .custom-password-input.ant-input-affix-wrapper:hover {
  background: #324b7b !important;
}

.dark .custom-password-input input.ant-input {
  background: transparent !important;
  color: #fff !important;
}

.dark .custom-password-input input.ant-input::placeholder {
  color: #ffffff !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.dark .custom-password-input .ant-input-password-icon {
  color: #fff !important;
}
