.row-design {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  min-height: 150px;
  border-radius: 15px;
  margin: 0 auto 25px;
  width: 96.5%;
}

.row-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section {
  align-items: center;
  justify-content: center;
  margin-top: -45px;
}

.welcome-text {
  margin-top: 50;
  margin-left: 5;
}

.welcome-image {
  margin-bottom: -50;
  object-fit: cover;
  border-radius: 15;
}

.inside-dev {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
}

.Analysis {
  position: relative;
}

.analysis-page {
  background: radial-gradient(circle at 10% 30%, #b3d1ff, #e6ecfa, #ffffff);
  height: 100%;
  padding-bottom: 50px;
}

.analysis-page.dark {
  background: radial-gradient(
    circle at 10% 30%,
    rgba(28, 52, 125, 0.9),
    #121e63,
    rgba(28, 52, 125, 1)
  );
}

.welcome-text.dark {
  color: #ffffff !important;
}

.interesting-card {
  background-color: #e6ecfa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.interesting-card.dark {
  background-color: rgba(28, 52, 125, 1);
  border: none;
}

.interesting-card-title {
  color: #3498db !important;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins';
}

.interesting-card-text.dark {
  color: #ffffff !important;
}

.card2-design {
  background-color: transparent;
}

.card2-design.dark {
  background-color: transparent;
}

.x-axis {
  color: #3498db;
}

.x-axis.dark {
  color: #ffffff;
}

.warning-section {
  margin: 20px auto;
  width: 90%;
  background-color: #e6e8ff;
  border-radius: 10px;
  padding: 16px;
}

.warning-section.dark {
  background-color: #483b3b92;
}

.warning-section-text {
  color: #000000;
}

.warning-section-text.dark {
  color: #ffffff;
}

.card2-design-text {
  color: #000000;
}

.card2-design-text.dark {
  color: #ffffff;
}

.custom-tooltip {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.custom-tooltip.dark {
  background: #121e63;
}

.custom-tooltip-text {
  margin: 0;
}
