footer {
  background-color: white;
  padding: 24px 0;
  margin-top: auto;
  width: 100%;
  height: 14vh;
}
.info {
  color: black;
  font-size: 16px;
  margin-right: 10px;
  a {
    color: #000;
  }
}
.info-icons {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.dark-footer {
  background-color: rgba(0, 0, 0, 0.65);
  .info-icons {
    color: white;
  }
  .info {
    color: white;
    a {
      color: white;
    }
  }
}
