.homepage {
  padding: 20px;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.homepage.dark-theme {
  background-color: #1a1a1a;
  color: white;
}

.welcome-section {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  min-height: 220px;
  border-radius: 15px;
  margin: 0 auto;
}

.welcome-section-column {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.welcome-text {
  color: #3498db;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins';
}

.platform-title {
  color: black;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Poppins';
}

.platform-description {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Poppins';
}

.consult-button {
  margin-top: 20px;
  height: 50px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  border-radius: 22px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, rgb(100, 157, 211), #0052d9) !important;
  border: none;
  animation: fadeInUp 1s ease-out 0.4s forwards;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 0 35px;
}

.platform-image {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.activity-section {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  min-height: 220px;
  border-radius: 15px;
  margin: 60px auto 0;
}

.activity-section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.activity-section-column-title {
  color: black;
  font-weight: bold;
  font-family: 'Poppins';
}

.activity-section-column-text {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Poppins';
}

.activity-card {
  height: 280px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.activity-card-content {
  position: relative;
  z-index: 2;
  text-align: left;
}

.activity-icon {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.activity-card-title {
  color: #2c3e50;
  text-align: left;
  font-family: 'Poppins';
}

.activity-card-text {
  color: #2c3e50;
  font-size: 15px;
  text-align: left;
  font-family: 'Poppins';
}

.my-health-section {
  width: 100%;
  padding: 60px 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-health-title-container {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.my-health-title {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #0052d9;
}

.my-health-step-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.my-health-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0052d9;
  font-family: 'Poppins', sans-serif;
}

.arrow {
  font-size: 36px;
  color: #0052d9;
  font-weight: bold;
}

.my-health-image {
  width: 430px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.my-health-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.my-health-description {
  font-size: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
  line-height: 1.6;
}

.my-health-button {
  height: 50px;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 30px;
  background: linear-gradient(to right, #64b5f6, #0052d9);
  color: white;
  border: none;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 82, 217, 0.2);
  margin-top: 20px;
}

.my-health-button:hover {
  transform: translateY(-3px);
}

.leading-medicine-section {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  min-height: 220px;
  margin: 40px auto 0;
  width: 100%;
}

.leading-medicine-title {
  color: black;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Poppins';
}

.leading-medicine-description {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Poppins';
}

.faq-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  min-height: 220px;
  margin: 0 auto;
  width: 100%;
}

.faq-title {
  color: #3498db;
  margin-bottom: 32px;
  font-family: 'Poppins';
  text-align: center;
}

.faq-item {
  padding: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  transition: background 0.3s;
}

.faq-item-dark {
  border-bottom: 1px solid rgb(52, 50, 50);
}

.faq-item-light {
  border-bottom: 1px solid rgb(221, 219, 219);
}

.faq-question {
  color: #2c3e50;
  margin: 0;
  font-family: 'Poppins';
}

.faq-answer {
  font-size: 20px;
  display: block;
  color: black;
  font-family: 'Poppins';
  margin-top: 12px;
  font-weight: 300;
  line-height: 1.5;
}

.partners-section {
  margin-top: 40px;
  text-align: center;
  padding: 0 24px;
}

.partners-title {
  color: #3498db;
  margin-bottom: 32px;
  font-family: 'Poppins';
}

.partner-card {
  border-radius: 20px;
  margin: 10px;
  height: 600px;
  width: 330px;
}

.partner-card-dark {
  background-color: #1c1c1e;
}

.partner-card-light {
  background-color: #ffffff;
}

.partner-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.partner-image-container {
  overflow: hidden;
  margin: 16px 0;
  height: 95%;
}

.partner-image {
  border-radius: 15px;
  width: 100%;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 20px;
}

.partner-name {
  color: #2c3e50;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 600;
}

.partner-description {
  font-size: 16px;
  color: #555555;
  font-family: 'Poppins';
  text-align: left;
  line-height: 1.6;
  margin-top: 30px;
}

.partner-button {
  margin-top: 20px;
  border-radius: 30px;
  background: linear-gradient(135deg, #64a7f0, #0052d9) !important;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Poppins';
  width: 170px;
  margin: 24px auto;
  height: 62px;
  border: none;
}

.carousel-container {
  padding: 0 20px;
  width: 100%;
}

.partner-card-wrapper {
  padding: 0 12px;
}

.dark-theme .platform-title,
.dark-theme .platform-description,
.dark-theme .activity-section-column-title,
.dark-theme .activity-section-column-text,
.dark-theme .leading-medicine-title,
.dark-theme .leading-medicine-description {
  color: white;
}

.dark-theme .partner-name {
  color: #ffffff;
}

.dark-theme .partner-description {
  color: #cccccc;
}

.dark-theme .faq-question {
  color: gray;
}

.dark-theme .faq-answer {
  color: white;
}

.dark-theme {
  h1 {
    color: white;
  }
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
