.Column {
  margin: 50px auto;
  box-shadow:
    0 8px 32px rgba(74, 144, 226, 0.12),
    0 0 0 3px rgba(114, 167, 255, 0.15);
  border-radius: 10px;
  width: 90%;
}
.menu-button {
  font-size: 20px;
}
.dark-mode-text{
  span{
    color: white;
  }
  h1{
    color: white;
  }
}
